@mixin button() {
  @include border-radius;
  @include padding(4px, 'all');
  cursor: pointer;
  font-size: 14px;
  text-decoration-line: none;

  a {
    color: $darkgray;
    text-decoration-line: none;
  }
  
  a:hover {
    color: $darkgray;
    font-weight: bold;
  }

  input {
    background-color: $white;
    color: $blue;  
  }

  input:hover {
    font-weight: bold;
    text-decoration-line: underline;
  }

}

@mixin section-button() {
  @include button;
  @include margin(4px, 'bottom');
  background-color: $lightgray;
  color: $darkgray;
}

@mixin button-input() {
  @include border-radius;
  @include padding(4px, 'all');
  background-color: $blue;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  text-decoration-line: none;

  &:hover {
    background-color: $white;
    color: $blue;
    font-weight: bold;
  }
}
