// Black - White
$black: #000000;
$darkgray: #6D6C6C;
$gray: #808080;
$lightgray: #D3D3D3;
$white: #FFFFFF;

// Others
$blue: #00F;

// Light Palette
$lightblue: #61DAFB;
$lightgreen: #8FBC8F;
$lightorange: #B8860B;
