// Black - White
$black: #000000;
$darkgray: #6D6C6C;
$gray: #808080;
$lightgray: #E5EAEd;
$lightergray: #F4F5F7;
$white: #FFFFFF;

// Blue
// https://colorswall.com/images/palettes/light-blue-palette-materialize-css-13-colorswall.png
$blue: #3D65FB;
$darkblue: #01579B;
$normalblue: #03A9F4;
$lightblue: #E1F5FE;

// Light Palette
$lightgreen: #8FBC8F;
$lightorange: #B8860B;
$warning: #EF8913;
