$border-radius: 10px;
$padding_background: 12px;

@mixin flex($direction, $justify-content: flex-start, $align-items: self-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border-radius() {
  border-radius: $border-radius;
}

@mixin border($position: 'all', $color: $gray, $size: 1px) {
  @if $position == 'bottom' {
    border-bottom: solid $size $color;
  } @if $position == 'top' {
    border-top: solid $size $color;
  } @if $position == 'left' {
    border-left: solid $size $color;
  } @if $position == 'right' {
    border-right: solid $size $color;
  } @if $position == 'all' {
    border: solid $size $color;
  }
}

@mixin border-none($position: 'all') {
  @if $position == 'bottom' {
    border-bottom: 0;  
  } @if $position == 'top' {
    border-top: 0;
  } @if $position == 'left' {
    border-left: 0;
  } @if $position == 'right' {
    border-right: 0;
  } @if $position == 'all' {
    border: 0;
  }
}

@mixin padding($size, $position: 'all') {
  @if $position == 'bottom' {
    padding-bottom: $size;
  } @if $position == 'top' {
    padding-top: $size;
  } @if $position == 'left' {
    padding-left: $size;
  } @if $position == 'right' {
    padding-right: $size;
  } @if $position == 'horizontal' {
    padding-left: $size;
    padding-right: $size;
  } @if $position == 'vertical' {
    padding-top: $size;
    padding-bottom: $size;
  } @if $position == 'all' {
    padding: $size;
  }
}

@mixin padding-none() {
  padding: 0;
}

@mixin margin($size, $position: 'all') {
  @if $position == 'bottom' {
    margin-bottom: $size;
  } @if $position == 'top' {
    margin-top: $size;
  } @if $position == 'left' {
    margin-left: $size;
  } @if $position == 'right' {
    margin-right: $size;
  } @if $position == 'horizontal' {
    margin-left: $size;
    margin-right: $size;
  } @if $position == 'vertical' {
    margin-top: $size;
    margin-bottom: $size;
  } @if $position == 'all' {
    margin: $size;
  }
}

@mixin margin-none() {
  margin: 0;
}

@mixin text-link() {
  a {
    text-decoration: none;

    &:hover {
      color: $blue;
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }

    &:visited {
      color: $blue;
      text-decoration: none;
    }
  }
}

@mixin background() {
  @include border-radius;
  padding: $padding_background;
}

@mixin section-background() {
  @include background;
  background-color: $white;
}

@mixin header-background() {
  background-image: linear-gradient(to right, $white, $lightblue, $darkblue);
}

@mixin content-background() {
  @include background;
  background-color: $lightergray;
}

@mixin content-detail-background() {
  @include background;
  background-color: $white;
  height: calc(100% - #{$padding_background * 2});
}

@mixin section-title() {
  @include border(bottom);
  color: $blue;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 8px;
  // text-decoration: underline solid $blue;
}

@mixin loading-full() {
  @include flex(row, center, center);
  height: 100vh;
}

@mixin loading-fit() {
  @include flex(row, center, center);
  height: 100%;
}

@mixin warning() {
  @include flex(row, center, center);
  @include margin(4px, left);
  background-color: $warning;
  border-radius: 50%;
  color: $white;
  font-size: 8px;
  height: 20px;
  width: 20px;
}
