$border-radius: 10px;
$padding_background: 12px;

@mixin flex($direction, $justify-content: flex-start, $align-items: left) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin border-radius() {
  border-radius: $border-radius;
}

@mixin border($position: 'all') {
  @if $position == 'bottom' {
    border-bottom: solid 1px $gray;    
  } @if $position == 'top' {
    border-top: solid 1px $gray;
  } @if $position == 'left' {
    border-left: solid 1px $gray;
  } @if $position == 'right' {
    border-right: solid 1px $gray;
  } @if $position == 'all' {
    border: solid 1px $gray;
  }
}

@mixin border-none($position: 'all') {
  @if $position == 'bottom' {
    border-bottom: none;  
  } @if $position == 'top' {
    border-top: none;
  } @if $position == 'left' {
    border-left: none;
  } @if $position == 'right' {
    border-right: none;
  } @if $position == 'all' {
    border: none;
  }
}

@mixin padding($size, $position: 'all') {
  @if $position == 'bottom' {
    padding-bottom: $size;
  } @if $position == 'top' {
    padding-top: $size;
  } @if $position == 'left' {
    padding-left: $size;
  } @if $position == 'right' {
    padding-right: $size;
  } @if $position == 'horizontal' {
    padding-left: $size;
    padding-right: $size;
  } @if $position == 'vertical' {
    padding-top: $size;
    padding-bottom: $size;
  } @if $position == 'all' {
    padding: $size;
  }
}

@mixin margin($size, $position: 'all') {
  @if $position == 'bottom' {
    margin-bottom: $size;
  } @if $position == 'top' {
    margin-top: $size;
  } @if $position == 'left' {
    margin-left: $size;
  } @if $position == 'right' {
    margin-right: $size;
  } @if $position == 'horizontal' {
    margin-left: $size;
    margin-right: $size;
  } @if $position == 'vertical' {
    margin-top: $size;
    margin-bottom: $size;
  } @if $position == 'all' {
    margin: $size;
  }
}

@mixin text-link() {
  &:hover {
    color: $black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
  }
}

@mixin background() {
  @include border-radius;
  padding: $padding_background;
}

@mixin section-background() {
  @include background;
  background-color: $white;
}

@mixin header-background() {
  background-image: linear-gradient(to right, $white, $lightblue, $darkblue);
}

@mixin content-background() {
  @include background;
  background-color: $lightergray;
}

@mixin content-detail-background() {
  @include background;
  background-color: $white;
  height: calc(100% - #{$padding_background * 2});
}

@mixin section-title() {
  @include border(bottom);
  color: $blue;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 8px;
  // text-decoration: underline solid $blue;
}
