@import '../../sass/main.scss';

.search-bar {
  @include flex(column);
}

.search-bar__form {
  @include flex(row, flex-end, center);
  height: 24px;

  .textfield input {
    @include padding(12px, left);
    @include padding(34px, right);
    @include border-none;
    height: 28px;
  }

  .textfield input:focus {
    border: solid 2px $blue;
    outline: none;
  }
}

.search-bar__button {
  @include padding(2px, all);
  background-color: transparent;
  border-left: solid 1px gray;
  margin-left: -28px;
  padding-right: 6px;
  padding-left: 4px;
}


.search-bar__content-container {
  position: relative;
}

.search-bar__content {
  @include border;
  background-color: $white;
  box-shadow: 0px 6px 12px 0px #888888;
  display: none;
  width: 250px;
  position: absolute;
  top: 12px;
}

.search-bar__content.dropdown--is-open {
  display: block;
}

.search__result {
  @include padding(2px, horizontal);
  @include margin(2px, bottom);
  @include border(bottom);
  font-size: 14px;

  &:last-of-type {
    @include border-none;
  }
}

.search__result-link {
  color: $black;
  cursor: pointer;
  text-decoration-line: none;

  :hover {
    background-color: $lightergray;
    font-weight: bold;
  }
}

.search__result-info {
  @include flex(row, space-between);
}

.search__result-name {
  max-width: 228px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search__result-type {
  font-size: 12px;
}

.search__result-C {
  color: $gray;
}

.search__result-P {
  color: $blue;
}

.search__result-S {
  color: $lightorange;
}

// ---------
// MEDIA
// ---------
@media screen and (max-width: $large) {
  .search-bar__form {
    width: 320px;
  }
}

@media screen and (max-width: $small) {
  .search-bar__form {
    width: 270px;;
  }
}
