@import '../../sass/main.scss';

.textfield {
  @include flex(row, center);
  width: 100%;

  input {
    @include padding(4px, all);
    font-size: 16px;
    width: 100%;
  }

  input:focus {
    border: solid 2px $blue;
    outline: none;
  }
}
