@import '../../sass/main.scss';

.feed-row {
  @include flex(row);
  @include border-radius;
  background-color: $white;
  box-shadow: 2px 2px $blue;
  margin-bottom: 4px;
  width: 99%;
}

.feed-row__product {
  @include flex(column);
}

.feed-row__image {
  margin-right: 8px;
}
