@import '../../sass/main.scss';

.friends {
  @include content-detail-background;
}

.friends__loading {
  @include loading-fit();
}

.friends__title {
  @include flex(row, flex-start, center);
  @include margin(8px, vertical);
}

.friends__warning {
  @include warning;
}

.friends__request {
  @include flex(row, space-around, center);
  @include margin(8px, vertical);
  @include border(all, $blue);
  @include padding(4px, all);
}

.friends__request-button {
  @include margin(8px, left);
  width: 80px;
}

.friends__form {
  @include flex(row, space-between, center);
}

.friends__button {
  @include margin(24px, left);
  width: 100px;
}

.friends__message-error {
  background-color: $lightorange;
  color: $black;
  font-weight: bold;
  padding: 0 8px;
  width: 100%;
}

.friends__message-accepted {
  background-color: $lightgreen;
  color: $black;
  font-weight: bold;
  padding: 0 8px;
  width: 100%;
}

.friends__message-rejected {
  background-color: $lightgreen;
  color: $black;
  font-weight: bold;
  padding: 0 8px;
  width: 100%;
}
