@import '../../sass/main.scss';

.auth {
  @include flex(column, center, center);
  width: 100%;
}

.auth__header {
  @include flex(row, center, center);
  background-color: $white;
  width: 100%;
}

.auth__title {
  @include flex(row, space-around, baseline);
  width: 35%;
}

.auth__slogan {
  color: $gray;
  font-size: large;
}

.auth__horizontal-line {
  @include border(bottom, $gray, 2px);
  background-color: $gray;
  width: 100%;
}

.auth__content {
  @include flex(row, space-around);
  width: 100%;
}

.auth__line {
  @include border(bottom);
  @include margin(20px, top);
  background-color: $gray;
  height: auto;
  width: 2px;
}

.auth__loading {
  @include loading-full;
}

.auth__message-error {
  background-color: $lightorange;
  color: $black;
  font-weight: bold;
  padding: 0 8px;
  text-align: center;
  width: 100%;
}

.auth__message-successful {
  background-color: $lightgreen;
  color: $black;
  font-weight: bold;
  padding: 0 8px;
  text-align: center;
  width: 100%;
}

// ---------
// MEDIA
// ---------
@media screen and (max-width: $large) {
  .auth__slogan {
    display: none;
  }

  .auth__line {
    width: 100%;
  }

  .auth__content {
    @include flex(column, center, center);
  }
}
