@import '../../sass/main.scss';

.auth {
  @include flex(row, space-around);
  width: 100%;
}

.auth__line {
  @include border(bottom);
  @include margin(20px, top);
  background-color: $gray;
  height: 100%;
  width: 2px;
}

.auth__loading {
  @include loading-full;
}
