@import '../../sass/main.scss';

.stuffie__header {
  border-bottom: 2px solid gray; 
  width: 100%;
}

.stuffie__main {
  @include flex(row, space-between, left);
  width: 100%;
}

.stuffie__menu {
  background-color: $lightgray;
  width: 224px;
}

.stuffie__content {
  width: 65%;
}

.stuffie__apps {
  background-color: $lightgray;
  width: 110px;
}
