@import '../../sass/main.scss';

.stuffie__header {
  border-bottom: 2px solid $blue; 
  width: 100%;
}

.stuffie__main {
  @include flex(row, space-between, left);
  width: 100%;
}

.stuffie__menu {
  @include section-background();
  width: 224px;
}

.stuffie__content {
  padding: 8px;
  width: 65%;
}

.stuffie__apps {
  @include section-background();
  width: 110px;
}
