@import '../../sass/main.scss';

.stuffie-header {
  @include flex(row, space-between, center);
}

.stuffie-header__left {
  @include flex(row, flex-start, center);
}

.stuffie-header__info {
  @include flex(row, flex-start, center);
  width: 210px
}

.stuffie-header__user {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  width: 150px;
}

.stuffie-header__logo {
  width: 50px;
  height: 50px;
  padding-bottom: 4px;
}

.stuffie-header__sections {
  @include flex(row, flex-start);
}

.stuffie-header__section-item {
  @include flex(row, space-around, center);
  @include padding(8px, all);
  @include margin(8px, horizontal);
  @include margin(18px, top);

  background-color: $blue;
  border-radius: 4px 4px 0px 0px;
  color: $white;
  font-size: 16px;
  height: 20px;
  width: 80px;

  &:first-of-type {
    @include margin(0px, left);
  }

  &:last-of-type {
    background-color: $white;
  }
}

.stuffie-header__section-exchange {
  width: 87px;
}

.stuffie-header__section-item a{
  color: $white;
  text-decoration: none;
}

.stuffie-header__section-item a:hover {
  color: $white;
  font-weight: bold;
}

.stuffie-header__search {
  @include margin(18px, top);
  width: 250px;
}

.stuffie-header__menu {
  display: none;
}

.stuffie-header__warning {
  @include warning;
}

.stuffie-header__button {
  @include border-none();
  display: contents;              // TEXT FIT TO BUTTON WITHOUT STUFF!
  background-color: $white;
  color: $blue;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.stuffie-header__button:hover {
  font-weight: bold;
}


// ---------
// MEDIA
// ---------
@media screen and (max-width: $large) {
  .stuffie-header {
    @include flex(column, center, center);
    @include padding(14px, bottom);
  }

  .stuffie-header__left {
    @include flex(row, space-between, center);
    @include border('bottom', $blue, 2px);
    width: 100%;
  }

  .stuffie-header__sections {
    @include flex(row, flex-end, center);
    @include margin(-6px, bottom);
    width: 100%;
  }

  .stuffie-header__section-item {
    margin-right: 4px;
    margin-left: 0;
    font-size: 12px;
    width: auto;

    &:last-of-type {
      @include margin(0, bottom);
      @include border(bottom, $blue, 2px);
    }
  }

  .stuffie-header__button {
    font-size: 12px;
    padding: 0;
    width: auto;
  }

  .stuffie-header__search {
    @include margin(14px, top);
    width: 48%;
  }

  .stuffie-header__info {
    width: auto;
  }

  .stuffie-header__user {
    font-size: 14px;
    width: 100%;
  }

  .stuffie-header__warning {
    width: 8px;
    height: 8px;
    position: relative;
    top: -16px;
    left: 8px;
    @include margin(-8px, left);
  }

  .stuffie-header__warning-text {
    display: none;
  }

  .stuffie-header__search {
    @include flex(row, space-between, center);
    width: 100%;

    .search-bar {
      @include margin(8px, left);
      width: calc(100% - 38px);
    }
  }

  .stuffie-header__menu {
    @include flex(row, center, center);
    @include margin(12px, right);
    position: relative;

    /* Hide the links inside the navigation menu (except for logo/home) */
    #apps {
      display: none;
    }

    .fa-bars {
      font-size: 22px;
    }

    /* Style the hamburger menu */
    button.icon {
      background-color: transparent;
      position: absolute;
      right: 0;
      border: 0;
    }
  }

  .stuffie-header__menu-spotify {
    @include margin(4px, bottom);
  }
}

@media screen and (max-width: 360px) {
  .stuffie-header__user {
    display: none;
  }
}
