@import '../../sass/main.scss';

.stuffie-header {
  @include flex(row, space-between, center);
}

.stuffie-header__left {
  @include flex(row, flex-start, center);
}

.stuffie-header__info {
  @include flex(row, flex-start, center);
  width: 210px
}

.stuffie-header__user {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
  width: 150px;
}

.stuffie-header__logo {
  width: 50px;
  height: 50px;
  padding-bottom: 4px;
}

.stuffie-header__sections {
  @include flex(row, flex-start, left);
}

.stuffie-header__section-item {
  @include flex(row, space-around, center);
  @include padding(8px, all);
  @include margin(8px, horizontal);
  @include margin(18px, top);

  background-color: $blue;
  border-radius: 4px 4px 0px 0px;
  color: $white;
  width: 80px;

  &:first-of-type {
    @include margin(0px, left);
  }
}

.stuffie-header__section-exchange {
  width: 87px;
}

.stuffie-header__section-item a{
  color: $white;
  text-decoration: none;
}

.stuffie-header__section-item a:hover {
  color: $white;
  font-weight: bold;
}

.stuffie-header__logout {
  @include flex(row, center);
  @include padding(8px, all);
  @include margin(8px, left);
  @include margin(18px, top);
  @include margin(0px, right);

  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  width: 70px;

  background-color: $white;
  color: $blue;
}

.stuffie-header__logout a{
  text-decoration: none;
}

.stuffie-header__logout a:hover {
  color: $blue;
  font-weight: bold;
}

.stuffie-header__search {
  @include margin(19px, top);
  width: 250px;
}

.stuffie-header__menu {
  display: none;
}

.stuffie-header__warning {
  @include warning;
}

// ---------
// MEDIA
// ---------
@media screen and (max-width: $large) {
  .stuffie-header {
    @include flex(column, center, center);
    @include padding(14px, bottom);
  }

  .stuffie-header__left {
    @include flex(row, center, center);
  }

  .stuffie-header__search {
    @include margin(4px, top);
    width: 48%;
  }

  .stuffie-header__info {
    width: auto;
  }

  .stuffie-header__user {
    display: none;
  }

  .stuffie-header__section-item {
    @include padding-none();
    @include margin-none();
    @include margin(2px, horizontal);
    font-size: 12px;
    height: 36px;
    width: 50px;
  }

  .stuffie-header__logout {
    @include flex(row, center, center);
    @include margin-none();
    @include padding-none();
    font-size: 12px;
    width: 50px;
  }

  .stuffie-header__warning {
    display: none;
  }

  .stuffie-header__search {
    @include flex(row, space-between, center);
    width: 100%;

    .search-bar {
      @include margin(8px, left);
    }
  }

  .stuffie-header__menu {
    @include flex(row, center, center);
    @include margin(8px, right);
    position: relative;

    /* Hide the links inside the navigation menu (except for logo/home) */
    #apps {
      display: none;
    }

    .fa-bars {
      font-size: 24px;
    }

    /* Style the hamburger menu */
    a.icon {
      position: absolute;
      right: 0;
    }
  }
}
