@import '../../sass/main.scss';

.menu__title {
  font-size: 16px;
  font-weight: bolder;
}

.menu__category {
  @include border('bottom');
  font-size: 12px;
  margin: 4px 0;

  &:last-child {
    @include border-none('bottom');
  }
}
